{% extends 'base.html.twig' %}

{% block body %}

<div class="container border mt-5 " id="addetail">
    <div id="headads">
    <h3>{{ ad.title }}</h3>

    {% if ad.user.image %}
        <img src="{{ asset('uploads/images/' ~ ad.user.image) }}" class="d-none d-sm-block" id="avatar" alt="Photo de profil" >
    {% else %}
        <img src="https://cdn0.iconfinder.com/data/icons/unigrid-flat-human-vol-2/90/011_101_anonymous_anonym_hacker_vendetta_user_human_avatar-512.png" class="d-none d-sm-block" id="avatar"  alt="">
    {% endif %}
    </div>

    <p>Publiée par : {{ ad.user.username}} <span class="text-secondary">le {{ ad.date|date("d/m/Y") }}</span></p>


    <p>Ville : {{ ad.ville }}</p>
    <p>{{ ad.content }}</p>
    <p>Service : {{ ad.service}} de garde</p>
    <a href="mailto:{{ ad.user.email }}" class="badge badge-secondary">{{ ad.user.email }}</a>
</div>


    <a href="{{ path('ad_comment', {'id': ad.id}) }}"><button class=" btn btn-info float-right col-xs-8 mb-5" id="adsComms">Laisser un commentaire</button></a>
    <hr class="mt-4" id="hr">
    <h4 class="ml-5 mt-5"> Vos commentaires :</h4>
        {% for comment in ad.comments %}
            <div class="container  mt-3 p-4" id="comms">

                {% if comment.user.image %}
                    <img src="{{ asset('uploads/images/' ~ comment.user.image) }}" class="d-none d-sm-block" id="avatar" alt="Photo de profil" >
                {% else %}
                    <img src="https://cdn0.iconfinder.com/data/icons/unigrid-flat-human-vol-2/90/011_101_anonymous_anonym_hacker_vendetta_user_human_avatar-512.png" class="d-none d-sm-block" id="avatar"  alt="">
                {% endif %}

                <p><span class="text-primary">Commentaire de {{ comment.user.username }}, le {{ comment.publishedAt|
                        date('d/m/Y') }} :</span> </p>
                <p>{{ comment.comment }}</p>
            </div>
        {% endfor %}


  {#{{ dump(app.user) }}#}
    {#{{ dump(ad.user) }}#}


{% endblock %}