{% extends 'base.html.twig' %}

{% block body %}

<div class="container border mt-5 " id="addetail">

    <h3>{{ ad.title }}</h3>

    <img src="{{ asset('uploads/images/' ~ ad.user.image) }}" class="d-none d-sm-block" id="avatar">
    <p>Publiée par : {{ ad.user.username}} <span class="text-secondary">le {{ ad.date|date("d/m/Y") }}</span></p>


    <p>Ville : {{ ad.ville }}</p>
    <p>{{ ad.content }}</p>
    <p>Service : {{ ad.service}} de garde</p>
    <a href="#"><button class="mt-3 mb-3 btn btn-danger">Contacter {{ ad.user.username }}</button></a>
</div>


    <a href="{{ path('ad_comment', {'id': ad.id}) }}"><button class=" btn btn-info float-right col-xs-8 mb-5" id="adsComms">Laisser un commentaire</button></a>
    <hr class="mt-4" id="hr">
    <h4 class="ml-5 mt-5"> Vos commentaires :</h4>
        {% for comment in ad.comments %}
            <div class="container  mt-3 p-4" id="comms">
                <img src="{{ asset('uploads/images/' ~ ad.user.image) }}" class="d-none d-sm-block" id="avatar">
                <p><span class="text-primary">Commentaire de {{ comment.user.username }}, le {{ comment.publishedAt|
                        date('d/m/Y') }} :</span> </p>
                <p>{{ comment.comment }}</p>
            </div>
        {% endfor %}

    {#{{ dump(app.user) }}#}
    {#{{ dump(ad.user) }}#}


{% endblock %}