{% extends 'base.html.twig' %}

{% block body %}

    <h3 class="mt-5 ml-5 pl-3">Publier votre annonce</h3>



    <div class="container mt-2 pt-4 pb-3 pl-5 pr-5 border rounded">
    {{ form_start(form) }}

    <div class="form-group ">{{ form_row(form.title, {'attr': {'class':'form-control'}}) }}</div>

    <div class="row">
        <div class="form-group col-4 ">{{ form_row(form.ville, {'attr': {'class':'form-control'}})  }} </div>
        <div class="form-group col-4 ">{{ form_row(form.date, {'attr': {'class':'form-control'}})  }} </div>
    </div>
    <div class="row">
        <div class="form-group col-4">{{ form_row(form.nbVisit, {'attr': {'class':'form-control'}})  }}</div>
        <div class="form-group col-4">{{ form_row(form.service, {'attr': {'class':'form-control'}})  }}</div>
    </div>

    <div class="form-group">{{ form_row(form.content, {'attr': {'class':'form-control'}})  }}</div>


    <button type="submit"> Publier </button>
    {{ form_end(form) }}


{% endblock %}