{% extends 'base.html.twig' %}

{% block body %}

    <h3 class="mt-5 ml-5 pl-3">Modifier votre annonce</h3>

    <div class="container mt-2 pt-4 pb-3 pl-5 pr-5 border rounded" id="createAd">
    {{ form_start(edit_form) }}

    <div class="form-group ">{{ form_row(edit_form.title,
        {
            'label': 'Titre de votre annonce',
            'attr': {'class': 'form-control'}
        })
        }}
    </div>
    <div class="row">
        <div class="form-group col-md-4 ">{{ form_row(edit_form.ville, {'attr': {'class':'form-control'}})  }} </div>
        <div class="form-group col-4 d-none">{{ form_row(edit_form.date, {'attr': {'class':'form-control'}})  }} </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            {{ form_row(edit_form.nbVisit,
            {
                'label': 'Nombre de visite par jour',
                'attr': {'class': 'form-control'}
            })
            }}
        </div>
        <div class="form-group col-md-4">{{ form_row(edit_form.service, {'attr': {'class':'form-control'}})  }}</div>
    </div>
    <div class="form-group">{{ form_row(edit_form.content,
        {
            'label': 'Votre annonce',
            'attr': {'class': 'form-control'}
        })
        }}</div>


    <button class="btn btn-primary" type="submit"> Modifier </button>
    {{ form_end(edit_form) }}
    {#{{ dump(user) }}#}

{% endblock %}