
{% trans_default_domain 'FOSUserBundle' %}

 {#{% if app.user.id %}#}
<h3 class="mt-5 ml-5 pl-3">Mon profil</h3>
{#{% else %}#}
    {#<h3 class="mt-5 ml-5 pl-3">profil</h3>#}
{#{% endif %}#}
<div class="container p-4 border " id="myprofil">

    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <p>Ville : {{ user.ville }}</p>
        <p>Description : {{ user.description }}</p>
    </div>

    <a class="btn btn-primary btn-sm" href="{{ path('fos_user_profile_edit') }}" role="button">Modifier mon profil</a>

</div>