
{% trans_default_domain 'FOSUserBundle' %}


<h3 class="mt-5 ml-5 pl-3">Mon profil</h3>

<div class="container p-4 border " id="myprofil">

    <div class="fos_user_user_show">

        {% if user.image %}
            <img src="{{ asset('uploads/images/' ~ user.image) }}" id="avatar" alt="Photo de profil" >
        {% else %}
            <img src="https://cdn0.iconfinder.com/data/icons/unigrid-flat-human-vol-2/90/011_101_anonymous_anonym_hacker_vendetta_user_human_avatar-512.png" class="" id="avatar"  alt="Photo de profil">
        {% endif %}

      <p> <span>{{ 'profile.show.username'|trans }}:</span>  {{ user.username }}</p>
      <p> <span>{{ 'profile.show.email'|trans }}:</span>  {{ user.email }}</p>
      <p> <span>Ville :</span>  {{ user.ville }}</p>


    </div>

    <a class="btn btn-primary btn-sm" href="{{ path('fos_user_profile_edit') }}" role="button">Modifier mon profil</a>

</div>

