<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="rAssets/css/app.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.0/minty/bootstrap.min.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    {# NAV BAR #}
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand mr-5" href="{{ path('homepage') }}">REPTIGARDE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link mr-2" href="{{ path('homepage') }}">Accueil</a>
                </li>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('ad_offer') }}">Offres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('ad_request') }}">Demandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('ads') }}">Annonces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('ad_create') }}">Créer votre annonce</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_profile_show') }}">Mon profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                </li>

    {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_security_login') }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>

    {% endif %}
            </ul>
        </div>
     </nav>
    {# END NAVBAR #}



    {#<div>#}
        {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
            {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
            {#<a href="{{ path('fos_user_security_logout') }}">#}
                {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
            {#</a>#}
        {#{% else %}#}
            {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
        {#{% endif %}#}
    {#</div>#}

{# Ajout d'un message Annonce publiée  #}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice m-5 p-2 border border-success rounded bg-success text-white">
            {{ message }}
        </div>
    {% endfor %}


        {% block body %}{% endblock %}

        <div id="root"></div>

{# Ajout bouton Interface admin en bas de site si admin #}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="fixed-bottom">
            <a class="btn btn-danger btn-sm m-2" href="{{ path('easyadmin') }}">Interface Admin</a>
        </div>
    {% endif %}


    {% block javascripts %}{% endblock %}
		<script src="rAssets/js/app.js"></script>
		<script>require('src/index');</script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </body>
</html>
